@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    color:rgb(75, 138, 117)
}

h2 {
color:crimson
}

body {
    font-family: "Sofia Sans", sans-serif;
}


.red-text {
    color: red;
    font-size: 10px;
}

.card {
    width: 320px;
    border: 0px solid black;

    border-radius: 16px;
    box-shadow: 1px 1px 15px 4px grey;
    margin: 16px;
    padding: 0px;
}

.card img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.card-text {
    padding: 16px;
}
